{% extends 'blog/base.html' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block content %}
	<h1>{{ article.title }}</h1>

	<p class="tags">
	    {% for tag in article.tags.all %}
	    	{% if forloop.first %} <span>Tags:</span> {% endif %}

	        <a href="{% url 'blog:tag_view' tag.slug %}">
	            {{ tag.name }}
	        </a>

	        {% if not forloop.last %}, {% endif %}
	    {% endfor %}
	</p>

	<h5>
		Author: 
		<a href="{% url 'profile:user_profile' article.author.username %}">
			{{ article.author }}
		</a>
	</h5>
	{{ article.published }}

	{% if article.author == request.user %}
		<br>
		<br>
		<a href="{% url 'blog:article_edit' article.slug %}" class="btn btn-secondary">Edit</a>
	{% endif %}
	
	<hr>
	{{ article.body|safe|linebreaks }}

	<hr>
	{% include "blog/article_page/similar_articles.html" %}

	<br>{% include "blog/article_page/comments.html" %}
{% endblock %}