{% extends 'blog/base.html' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block content %}
	<h1>{{ article.title }}</h1>

	<p class="tags">
	    {% for tag in article.tags.all %}
	    	{% if forloop.first %} <span>Tags:</span> {% endif %}

	        <a href="{% url 'blog:tag_view' tag.slug %}">
	            {{ tag.name }}
	        </a>

	        {% if not forloop.last %}, {% endif %}
	    {% endfor %}
	</p>

	<h5>Author: {{ article.author }}</h5>
	{{ article.published }}
	
	<hr>
	{{ article.body|linebreaks }}

	<hr>
	{% include "blog/article_page/similar_articles.html" %}

	<br>{% include "blog/article_page/comments.html" %}
{% endblock %}